:root,
[data-bs-theme='light'] {
	--bs-primary: #0dcaf0;
	--bs-primary-rgb: 13, 202, 240;
	--bs-primary-text: #087990;
	--bs-primary-bg-subtle: #cff4fc;
	--bs-primary-border-subtle: #9eeaf9;
	--bs-black-or-white-theme-color: #fff;
	--bs-black-or-white-text: #000;
	--bs-btn-transparent-bg-color: #d3d4d5;
}

[data-bs-theme='dark'] {
	--bs-primary-text: #6edff6;
	--bs-primary-bg-subtle: #032830;
	--bs-primary-border-subtle: #055160;
	--bs-black-or-white-theme-color: #212529;
	--bs-black-or-white-text: #fff;
	--bs-btn-transparent-bg-color: #424649;
}

.btn-primary {
	--bs-btn-color: var(--bs-black-or-white-theme-color);
	--bs-btn-bg: #0dcaf0;
	--bs-btn-border-color: #0dcaf0;
	--bs-btn-hover-color: var(--bs-black-or-white-theme-color);
	--bs-btn-hover-bg: #31d2f2;
	--bs-btn-hover-border-color: #25cff2;
	--bs-btn-focus-shadow-rgb: 11, 172, 204;
	--bs-btn-active-color: var(--bs-black-or-white-theme-color);
	--bs-btn-active-bg: #3dd5f3;
	--bs-btn-active-border-color: #25cff2;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--bs-black-or-white-theme-color);
	--bs-btn-disabled-bg: #0dcaf0;
	--bs-btn-disabled-border-color: #0dcaf0;
}

.btn-outline-primary {
	--bs-btn-color: #0dcaf0;
	--bs-btn-border-color: #0dcaf0;
	--bs-btn-hover-color: var(--bs-black-or-white-theme-color);
	--bs-btn-hover-bg: #0dcaf0;
	--bs-btn-hover-border-color: #0dcaf0;
	--bs-btn-focus-shadow-rgb: 13, 202, 240;
	--bs-btn-active-color: var(--bs-black-or-white-theme-color);
	--bs-btn-active-bg: #0dcaf0;
	--bs-btn-active-border-color: #0dcaf0;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #0dcaf0;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #0dcaf0;
	--bs-gradient: none;
}

.btn-danger {
	--bs-btn-color: var(--bs-black-or-white-theme-color);
	--bs-btn-hover-color: var(--bs-black-or-white-theme-color);
	--bs-btn-active-color: var(--bs-black-or-white-theme-color);
	--bs-btn-disabled-color: var(--bs-black-or-white-theme-color);
}

.btn-secondary {
	--bs-btn-color: var(--bs-black-or-white-theme-color);
	--bs-btn-hover-color: var(--bs-black-or-white-theme-color);
	--bs-btn-active-color: var(--bs-black-or-white-theme-color);
	--bs-btn-disabled-color: var(--bs-black-or-white-theme-color);
}

.form-control:focus {
	border-color: rgb(134, 238, 254);
	box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.25);
}

.form-control-plaintext {
	padding: 0.375rem 0.81rem;
}

.btn-transparent {
	--bs-btn-color: var(--bs-black-or-white-text);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;
	--bs-btn-hover-color: var(--bs-black-or-white-text);
	--bs-btn-hover-bg: var(--bs-btn-transparent-bg-color);
	--bs-btn-hover-border-color: transparent;
	--bs-btn-active-color: var(--bs-black-or-white-text);
	--bs-btn-active-border-color: transparent;
	--bs-btn-disabled-color: #6c757d;
	--bs-btn-disabled-border-color: transparent;
	--bs-btn-box-shadow: none;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
}

.btn-form {
	--bs-btn-color: var(--bs-black-or-white-text);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: var(--bs-border-color);
	--bs-btn-hover-color: var(--bs-black-or-white-text);
	--bs-btn-hover-bg: var(--bs-btn-transparent-bg-color);
	--bs-btn-hover-border-color: transparent;
	--bs-btn-active-color: var(--bs-black-or-white-text);
	--bs-btn-active-border-color: transparent;
	--bs-btn-disabled-color: #6c757d;
	--bs-btn-disabled-border-color: transparent;
	--bs-btn-box-shadow: none;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
}

.icon-btn {
	margin: 0;
	padding: 0px;
	padding-left: 6px;
	padding-right: 6px;
	background: transparent;
	border: none;
	color: inherit;
	transition: color 0.15s ease-in-out;
}

.edit-icon-btn:hover {
	color: var(--bs-primary);
}

.remove-icon-btn:hover {
	color: var(--bs-danger);
}

.ratio {
	width: 100%;
	overflow: hidden;
}

.ratio-inner {
	position: relative;
	height: 0;
	border: none;
}

.ratio-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ratio-1-1 {
	padding-top: 100%;
}

.img-100 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-image {
	width: 10rem;
	margin-left: 1rem;
}

.dropdown-menu {
	--bs-dropdown-bg: var(--bs-tertiary-bg);
}

.dropdown-item {
	transition: background-color 0.15s ease-in-out;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.dropdown-item:hover,
.dropdown-item:focus {
	border-top: 1px solid var(--bs-border-color-translucent);
	border-bottom: 1px solid var(--bs-border-color-translucent);
	background-color: rgba(var(--bs-body-color-rgb), 0.03);
}

.dropdown-item:active {
	background-color: var(--bs-primary);
}

.card-text {
	display: flex;
	overflow-wrap: anywhere;
}

.card-text-edit-modal {
	display: flex;
	overflow-wrap: anywhere;
}

@media screen and (max-width: 1200px) {
	.card-image {
		width: 8rem;
		margin-left: 1rem;
	}
}

@media screen and (max-width: 991px) {
	.card-image-edit-modal {
		width: 100%;
		height: 100%;
		margin-left: 0rem;
	}

	.card-text-edit-modal {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.card-image {
		width: 100%;
		margin-left: 0rem;
	}

	.card-text {
		display: block;
	}
}
