{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/center.css' %}">
    <div class="center-outer">
        <div class="center-middle">
            <div class="center-inner col-4 mb-5">
                <h3 class="mb-3">Вход</h3>
                <div class="mb-2">
                    <label for="formEmail" class="form-label">Адрес электронной почты</label>
                    <input class="form-control" type="email" id="formEmail">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-2">
                    <div class="d-flex justify-content-between">
                        <label for="formPassword" class="form-label">Пароль</label>
                        <a href="#"
                           class="text-decoration-none text-secondary"
                           style="cursor: pointer">Забыли пароль?</a>
                    </div>
                    <input class="form-control" type="password" id="formPassword">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="d-grid mt-3">
                    <button class="btn btn-primary" type="submit" id="loginBtn">Войти</button>
                    <div class="py-2 text-center">или</div>
                    <a href="#" class="btn btn-outline-primary">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/get-cookie.js' %}"></script>
    <script src="{% static 'js/accounts/login/form-validation.js' %}"></script>
    <script src="{% static 'js/accounts/login/send-data.js' %}"></script>
{% endblock %}
