{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/center.css' %}">
    <div class="center-outer">
        <div class="center-middle">
            <div class="center-inner col-4 mb-5">
                <h3 class="mb-3">Новый пароль</h3>
                <div class="mb-2">
                    <label for="formNewPassword1" class="form-label">Новый пароль</label>
                    <input class="form-control"
                           type="password"
                           autocomplete="new-password"
                           id="formNewPassword1">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-2">
                    <label for="formNewPassword2" class="form-label">Подтверждение пароля</label>
                    <input class="form-control"
                           type="password"
                           autocomplete="new-password"
                           id="formNewPassword2">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="d-grid mt-3">
                    <button class="btn btn-primary" type="submit" id="confirmResetPasswordBtn">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/get-cookie.js' %}"></script>
    <script src="{% static 'js/accounts/form-validation/display-validation-errors.js' %}"></script>
    <script src="{% static 'js/accounts/reset-password/confirm/form-validation.js' %}"></script>
    <script src="{% static 'js/accounts/reset-password/confirm/send-data.js' %}"></script>
{% endblock %}
