{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/center.css' %}">
    <div class="center-outer">
        <div class="center-middle">
            <div class="center-inner col-4 mb-5">
                <h3 class="mb-3">Восстановление пароля</h3>
                <div class="mb-2">
                    <label for="formEmail" class="form-label">Адрес электронной почты</label>
                    <input class="form-control" type="email" id="formEmail">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="d-grid mt-3">
                    <button class="btn btn-primary" type="submit" id="resetPasswordBtn">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/get-cookie.js' %}"></script>
    <script src="{% static 'js/accounts/form-validation/display-validation-errors.js' %}"></script>
    <script src="{% static 'js/accounts/form-validation/email-validation.js' %}"></script>
    <script src="{% static 'js/accounts/reset-password/form-validation.js' %}"></script>
    <script src="{% static 'js/accounts/reset-password/send-data.js' %}"></script>
{% endblock %}
